<header>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<ul class="nav navbar-nav">
				<li><a [routerLink]="['signup']">Sign Up</a></li>
				<li><a [routerLink]="['signin']">Sign In</a></li>
				<li><a [routerLink]="['showdata']">Show Data</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right" *ngIf="isAuth()">
				<li><a (click)="onLogout()" style="cursor: pointer;">Logout</a></li>
			</ul>
		</div>
	</nav>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
